<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">

  <head></head>
  <div id="__react-email-preview" style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0">Forgot Password
  </div>

  <body style="background-color:#ffffff;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif">
    <table align="center" role="presentation" cellSpacing="0" cellPadding="0" border="0" width="100%" style="max-width:37.5em;margin:10px auto;width:600px;border:1px solid #E5E5E5">
      <tr style="width:100%">
        <td>
          <hr style="width:100%;border:none;border-top:1px solid #eaeaea;border-color:#E5E5E5;margin:0" />
          {{>header title="Reset Password"}}
          <hr style="width:100%;border:none;border-top:1px solid #eaeaea;border-color:#E5E5E5;margin:0" />
          <table style="padding-left:40px;padding-right:40px;padding-top:22px;padding-bottom:22px" align="center" border="0" cellPadding="0" cellSpacing="0" role="presentation" width="100%">
            <tbody style="text-align: center;">
                <tr>
                 <td style="width:170px">
                      <p style="font-size:14px;line-height:2;margin:0;font-weight:bold">If you've forgotten your password, please proceed to reset it. The link will be expired in 15 minutes.</p>
                      <a style="font-size:24px;line-height:1.4;margin:12px 0 0 0;font-weight:500;color:#6F6F6F" href="{{url}}">Reset Password</a>
                  </td>
              </tr>
              <tr>
               

                
              </tr>
            
            </tbody>
          </table>
          
    
         
         
          
         
         {{> footer}}
        </td>
      </tr>
    </table>
  </body>

</html>